.c-desktop-logo {
	height: 80px;
    margin: 10px 0;
}

.c-desktop-logo-inverse {
	height: 56px;
	margin: 4px;
}

.c-mobile-logo {
    height: 50px;
    margin: -15px 0;
}

.black-bg-1 {
	background-color: rgba(1,1,1,0.5);
	padding: 40px 15px;
}

.c-layout-revo-slider-12 .c-main-title {
    background: none;
    padding: 0;
}

#environment { 
	background: url(https://d1xrp9zhb3ks3c.cloudfront.net/web/resolutions-recovery/assets/images/tiburon-deck-view.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 5% 0;
}

#services .c-bg-parallax {
	background-position: 38% center!important;
}

#meetings { 
	background: url(https://d1xrp9zhb3ks3c.cloudfront.net/web/resolutions-recovery/assets/images/rocks-beach-stone-nature-hd-wallpapers.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    padding: 10% 0;
}

#management .c-bg-parallax {
	background-position: 21% center!important;
}

.gradient-r-l {
    text-align: right;
    position: relative;
    top: -125px;
    padding: 5px 10px 5px 0;
    margin-bottom: 0px;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.001) 0, rgba(189,136,2,0.9) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0, rgba(0,0,0,0)), color-stop(100%, rgba(189,136,2,0.75)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.001) 0, rgba(189,136,2,0.9) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.001) 0, rgba(189,136,2,0.9) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.001) 0, rgba(189,136,2,0.9) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.001) 0, rgba(189,136,2,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#bd8802', GradientType=1 );
}

.gradient-r-l-2 {
    text-align: right;
    position: relative;
    top: -125px;
    padding: 5px 10px 5px 0;
    margin-bottom: 0px;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	background: -webkit-gradient(left top, right top, color-stop(50%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.75)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.gradient-l-r {
    text-align: left;
    position: relative;
    top: -125px;
    padding: 5px 0 5px 10px;
    margin-bottom: 0px;
	background: rgba(0,0,0,0.9);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.9)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
}

.gradient-l-r-2 {
    text-align: left;
    position: relative;
    top: -125px;
    padding: 5px 0 5px 10px;
    margin-bottom: 0px;
	background: rgba(189,136,2,1);
	background: -moz-linear-gradient(left, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,136,2,1)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd8802', endColorstr='#000000', GradientType=1 );
}

.four-diamond-bullets {
    list-style-image: url("https://d1xrp9zhb3ks3c.cloudfront.net/web/resolutions-recovery/assets/images/four-diamond-bullet.png");
}

footer .company-name {
	color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

/* New Recovery Environment Section */
.the-road-bg {
	background: url(https://leemtek-public.s3-us-west-1.amazonaws.com/web/resolutions-recovery/assets/images/resolutions-recovery-road-background.jpg);
}

/* Tiburon */
.tiburon > div {
	margin-bottom: 15px;
}

/* San Rafael */
.san-rafael > div {
	margin-bottom: 15px;
}

/* Contact Us */
.contactus {
	margin: 20px 0 !important;
	padding: 30px 40px !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

/* Responsive Points */
@media (max-width: 320px) {
	#main-section .tp-banner .btn {
		margin-top: 60px;
	}
}

@media (max-width: 991px) {
	#main-section .tp-banner h3 {
		margin-bottom: 5px;
	}
	
	#main-section .tp-banner .p-1 {
		margin-bottom: 20px;
		font-size: 19px;
	}

	#main-section .tp-banner .p-2 {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	.c-layout-header .c-brand {
	    margin: 0;
	}

	.c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand {
		margin: 0;
	}

	.c-layout-header.c-layout-header-4 .c-navbar {
    background: rgba(255,255,255,1.0);
	}


}

/* ===================================================================================
	Common Formatting
===================================================================================*/
.padding-top-0 { padding-top: 0 !important; }
.padding-60-0 { padding: 60px 0; }

.space-top-20 { padding-top: 20px; }
.space-bottom-10 { margin-bottom: 10px; }
.space-bottom-20 { padding-bottom: 20px; }
.space-bottom-40 { padding-bottom: 40px; }

.color-white { color: #fff !important; }
.color-black { color: #000; }

.bg-opacity-0-5 {
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Font sizes */
.font-size-24 { font-size: 24px; }
.font-size-30 { font-size: 30px; }