.c-desktop-logo {
	height: 80px;
    margin: 10px 0;
}

.c-desktop-logo-inverse {
    height: 65px;
}

.c-mobile-logo {
    height: 65px;
    margin: -15px 0;
}

.first-section { 
	background: url(https://d1xrp9zhb3ks3c.cloudfront.net/web/resolutions-recovery/assets/images/hd-landscape-wallpaper-high-definition-1600x900.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	padding: 26% 0;
}

 .black-bg-1 {
	background-color: rgba(1,1,1,0.5);
	padding: 40px 0;
}

/* Hero adjustment for Laptop 1024px+ */
@media (min-width: 1024px) {
	.black-bg-1 {
		margin-top: -40px;
	}
}

.learn-more {
    padding: 5px 25px;
    border-radius: 4px;
}

#environment { 
	background: url(https://d1xrp9zhb3ks3c.cloudfront.net/web/resolutions-recovery/assets/images/tiburon-deck-view.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 5% 0;
}

#services .c-bg-parallax {
	background-position: 38% center!important;
}

#meetings { 
	background: url(https://d1xrp9zhb3ks3c.cloudfront.net/web/resolutions-recovery/assets/images/rocks-beach-stone-nature-hd-wallpapers.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    padding: 10% 0;
}

#management .c-bg-parallax {
	background-position: 21% center!important;
}

.gradient-r-l {
    text-align: right;
    position: relative;
    top: -125px;
    padding: 5px 10px 5px 0;
    margin-bottom: 0px;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 33%, rgba(189,136,2,0.75) 100%);
	background: -webkit-gradient(left top, right top, color-stop(33%, rgba(0,0,0,0)), color-stop(100%, rgba(189,136,2,0.75)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 33%, rgba(189,136,2,0.75) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 33%, rgba(189,136,2,0.75) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 33%, rgba(189,136,2,0.75) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 33%, rgba(189,136,2,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#bd8802', GradientType=1 );
}

.gradient-r-l-2 {
    text-align: right;
    position: relative;
    top: -125px;
    padding: 5px 10px 5px 0;
    margin-bottom: 0px;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	background: -webkit-gradient(left top, right top, color-stop(50%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.75)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.gradient-l-r {
    text-align: left;
    position: relative;
    top: -125px;
    padding: 5px 0 5px 10px;
    margin-bottom: 0px;
	background: rgba(0,0,0,0.9);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.9)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
}

.gradient-l-r-2 {
    text-align: left;
    position: relative;
    top: -125px;
    padding: 5px 0 5px 10px;
    margin-bottom: 0px;
	background: rgba(189,136,2,1);
	background: -moz-linear-gradient(left, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,136,2,1)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(189,136,2,1) 0%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd8802', endColorstr='#000000', GradientType=1 );
}

.four-diamond-bullets {
    list-style-image: url("https://d1xrp9zhb3ks3c.cloudfront.net/web/resolutions-recovery/assets/images/four-diamond-bullet.png");
}

footer .company-name {
	color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 992px) {
	.c-layout-header .c-brand {
	    margin: 0;
	}

	.c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand {
		margin: 0;
	}

	.c-layout-header.c-layout-header-4 .c-navbar {
    background: rgba(255,255,255,1.0);
	}


}

/* ===================================================================================
	Common Formatting
===================================================================================*/
.space-top-20 { padding-top: 20px; }
.space-bottom-20 { padding-bottom: 20px; }